.direction {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  background-color: azure;
}
.direction:hover {
  background-color: blueviolet;
  color: white;
}
.speech {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
}
.solness:hover {
  box-shadow: 0 0 6px rgba(255, 0, 0, 0.5);
  border: 2px rgb(133, 64, 64);
}

.brovik:hover{
    box-shadow: 0 0 6px rgba(255, 0, 0, 0.5);
    border: 2px rgb(133, 64, 64);
}
.kaia:hover{
    box-shadow: 0 0 6px rgba(255, 0, 0, 0.5);
    border: 2px rgb(133, 64, 64);
}
.ragnar:hover{
    box-shadow: 0 0 6px rgba(255, 0, 0, 0.5);
    border: 2px rgb(133, 64, 64);
}
.brovik {
  color: blue;
}
.kaia {
  color: brown;
}
.ragnar {
  color: red;
}
.solness {
  color: hotpink;
}
.playTable {
  border: 1px solid;
  border-collapse: collapse;
  margin: 1px;
}

.playTable th {
  text-align: center;
  padding: 10px;
}

.playTable td {
  text-align: center;
  padding: 10px;
}

.playTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.playTable tr:hover {
  background-color: #9de3f0;
}

  .navbar {
    overflow: hidden;
    background-color: rgb(128, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #f1f1f1;
    color: black;
  }
  
